<!DOCTYPE html>
<html lang="en">
<%- include ("../partials/head.ejs", {title: "Edit Menu Item"}) %>
    <body>
        <div id="grid-container">
            <%- include ("../partials/header.ejs") %>  
            <main>
                <div id="grid-row-2 nav-menu">
                    <nav id="nav-menu">
                        <a href="/menuupdt">BakeryHome</a>
                        <a href="/menuupdt/new">New</a>
                        <a href="/employee/ougout">Logout</a>
                    </nav>
                </div>
                <div id="grid-row-3">
                    <h4 class="hd-pg-title">Edit Menu Item</h4>
                </div>
                <div id="grid-row-4"> 
                    <form action="/menuupdt/<%= menu._id %>?_method=PUT" method="post" >
                        <fieldset>
                            <label>
                                NAME: <input type="text" name="name" value="<%= menu.name %>"
                                    placeholder="enter an item name" required /><br><br>
                            </label>
                            <label>
                                DESCRIPT: <input type="text" name="description"
                                value="<%= menu.description %>" placeholder="enter an item description" style="width: 15rem" required
                                /><br><br>
                            </label>
                            <label>
                                IMAGE: <input type="text" name="imageLink"
                                    value="<%= menu.imageLink %>" placeholder="enter an imageLink" style="width: 15rem" required /><br><br>
                            </label>

                            <label> 
                                IN STOCK: <input type="checkbox" name="inStock"
                                    <%= menu.inStock ? "CHECKED" : "" %> /><br><br>
                            </label>
                            <label>TYPE: </label>
                            <input type="radio" id="coffee" name="type" value="coffee"
                                <%= menu.type ==="coffee" ? "CHECKED" : "" %> >
                            <label for="coffee">coffee</label>
                            <input type="radio" id="tea" name="type" value="tea"
                                <%= menu.type ==="tea" ? "CHECKED" : "" %> >
                                <label for="tea">tea</label> 
                            <input type="radio" id="bread" name="type" value="bread"
                                <%= menu.type ==="bread" ? "CHECKED" : "" %> >
                                <label for="bread">bread</label>                   
                            <input type="radio" id="pastry" name="type" value="pastry"
                                <%= menu.type ==="pastry" ? "CHECKED" : "" %> >
                                <label for="pastry">pastry</label> <br><br>    

                            <label> 
                                PRICE: <input type="number" name="price" value="<%= menu.price %>" 
                                step=".01" min="0" max="10" required /><br><br>
                            </label>
                            <label> 
                                MENU ORDER: <input type="number" name="listOrder" value="<%= menu.listOrder %>" required /><br>
                            </label><br>
                            <p>LAST UPDT USERNAME: "<%= menu.username %>"</p><br><br>
                            <input type="submit" value="Update" id="button-grid" />
                        </fieldset>
                    </form>
                </div>
            </main>
        </div>
    </body>
</html>